// COLORS
$primary-white: #ffffff;
$primary-dark: #2a2a2a;
$primary-accent: #7a8dfd;
$primary-gray: #bbbdd0;
$primary-background: #f8f9ff;
$primary-error-bg: #f8d7da;
$primary-error-color: #721c24;

$secondary-accent: #d1d8ff;
$secondary-gray: #dde2ff;

// COMMON VALUES IN PX
$breakpoint-common: 1024px;
